@import 'reset.css';
@import 'status-bar.css';
@import 'variables.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome-header {
    margin: 90px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
}
.welcome-header__text {
    width: 60%;
    opacity: 0.6;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
#login-form input {
    padding: 15px;
    border: none;
    font-size: 14px;
}
#login-form input:not([type='submit']) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
} /*왜 바로 옆에 있어야만 되는걸까용*/

#login-form input::placeholder {
    opacity: 0.6;
}
#login-form input:nth-child(2) {
    margin-bottom: 25px;
}
#login-form input:focus {
    border-color: var(--yellow);
}
#login-form input[type='submit'] {
    background-color: lightgray;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}
#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
    font-size: 14px;
}
