.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 15px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__li {
  padding: 0 10px;
}
.nav__a {
  position: relative;
  color: #2e363e;
}
.nav__chat__notification {
  position: absolute;
  left: 20px;
  top: -15px;
  animation: notificationColor 2s infinite;
}
@keyframes notificationColor {
  25% {
    box-shadow: 0px 0px 3px 3px rgba(255, 99, 71, 0.5);
  }
  50% {
    box-shadow: none;
  }
}
.nav__else__notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: -9px;
}

@keyframes appearNavAnimation {
  from {
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#friends .nav {
  opacity: 0;
  animation: appearNavAnimation 1s forwards;
  animation-delay: 0.5s;
}

#friends .nav__li {
  opacity: 0;
  transform: translateY(20px);
  animation: appearNavAnimation 1s forwards;
  animation-delay: 0.5s;
}
#friends .nav__li:nth-child(2) {
  animation-delay: 0.6s;
}
#friends .nav__li:nth-child(3) {
  animation-delay: 0.7s;
}
#friends .nav__li:nth-child(4) {
  animation-delay: 0.8s;
}
